*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#1d1f23;

    font-family:Arial, Helvetica, sans-serif;

    color:white;

    padding:50px;

}

.container{

    max-width:900px;

    margin:auto;

}

h1{

    text-align:center;

    margin-bottom:30px;

    color:#ffffff;

}

table{

    width:100%;

    border-collapse:collapse;

    background:#2a2d33;

    border-radius:8px;

    overflow:hidden;

}

th{

    background:#3b4048;

    padding:15px;

    font-size:16px;

}

td{

    padding:15px;

    border-top:1px solid #444;

    text-align:center;

}

tr:hover{

    background:#353942;

}

button{

    background:#2ea043;

    color:white;

    border:none;

    padding:8px 18px;

    border-radius:5px;

    cursor:pointer;

    font-weight:bold;

}

button:hover{

    background:#238636;

}

.footer{

    margin-top:25px;

    text-align:center;

    color:#999;

    font-size:13px;

}
